<center>
<img src= "/assets/Lime-Twist.png" height= 100 width= auto>
<h1>About Twist</h1>
<p> Twist is a project that I created which is similar to Twitter. I used Ruby with Ruby on Rails as a framework and Postgresql for database management. I also used the Devise gem for authentication and Bootsrap for styling. It has been a very challenging project, and I've broken it a gazillion times already, but it get easier to rebuild each time and hence has been a great learning experience!
***Please note that it is still a work in progress!***
</center>
